<mat-card>    
    <!-- Title of an Card -->    
    <mat-card-title>    
        Register  
    </mat-card-title>    
    
    <mat-card-content>    
        <form [formGroup]="form">    
            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="First Name" formControlName="firstName">   
                <mat-error>
                    <span *ngIf="form.get('firstName').touched && form.get('firstName').hasError('required')">Required Field</span>
                    <span *ngIf="form.get('firstName').touched && form.get('firstName').hasError('minlength')">Min length 6 symbols</span>
                </mat-error> 
            </mat-form-field>    

            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Last Name" formControlName="lastName"> 
                <mat-error>
                    <span *ngIf="form.get('lastName').touched && form.get('lastName').hasError('required')">Required Field</span>
                    <span *ngIf="form.get('lastName').touched && form.get('lastName').hasError('minlength')">Min length 6 symbols</span>
                </mat-error>    
            </mat-form-field>    

            <mat-form-field class="demo-full-width">    
                <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="address"></textarea> 
                <mat-error>
                    <span *ngIf="form.get('address').touched && form.get('address').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>    
        
            <mat-form-field class="demo-full-width">    
                <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="birthDate">    
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                <mat-datepicker touchUi="true" #picker></mat-datepicker>    
                <mat-error>
                    <span *ngIf="form.get('birthDate').touched && form.get('birthDate').hasError('required')">Required Field</span>
                </mat-error>    

            </mat-form-field>    
        
            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Email" formControlName="email">    
                <mat-error>
                    <span *ngIf="form.get('email').touched && form.get('email').hasError('required')">Required Field</span>
                    <span *ngIf="form.get('email').touched && form.get('email').hasError('email')">Not valid email</span>
                </mat-error>    
            </mat-form-field>   

            <div formGroupName="passwords">
                <mat-form-field class="demo-full-width">    
                    <input matInput placeholder="Password" formControlName="password" type="password">
                    <mat-error>
                        <span *ngIf="form.get(['passwords', 'password']).touched && form.get(['passwords', 'password']).hasError('required')">Рequired Field</span>   
                    </mat-error>
                </mat-form-field>   


                <mat-form-field class="demo-full-width">    
                    <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password">    
                    <mat-error>
                        <span *ngIf="form.get(['passwords', 'confirmPassword']).touched && form.get(['passwords', 'confirmPassword']).hasError('required')">Required Field</span>   
                    </mat-error>
                </mat-form-field>   
                <mat-error class="password-missmatch">
                    <span *ngIf="form.get(['passwords', 'confirmPassword']).touched && 
                                    form.get(['passwords', 'password']).touched  && 
                                    form.get('passwords').hasError('passwordMismatch')">Passwords does not match</span>   
                </mat-error>
            </div>
        
            <div class="content-center">    
                <button mat-raised-button color="primary">Submit</button>    
                <button mat-raised-button color="accent">Clear</button>    
            </div>    
        </form>    
    </mat-card-content>    
</mat-card>   

