<mat-card class=".mat-card">    
    <!-- Title of an Card -->    
    <mat-card-title appHighlight highlightColor="yellow">    
        Order  
    </mat-card-title>    
    
    <mat-card-content *ngIf="!(loading$| async)">    
        <form [formGroup]="form">    
            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Number" formControlName="nrIntern">   
                <mat-error>
                    <span *ngIf="form.get('nrIntern').touched && form.get('nrIntern').hasError('required')">Required Field</span>
                    <span *ngIf="form.get('nrIntern').touched && form.get('nrIntern').hasError('minlength')">Min length 6 symbols</span>
                </mat-error> 
            </mat-form-field>    

            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Title" formControlName="title"> 
                <mat-error>
                    <span *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required Field</span>
                    <span *ngIf="form.get('title').touched && form.get('title').hasError('minlength')">Min length 6 symbols</span>
                </mat-error>    
            </mat-form-field>

            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Category" formControlName="category"> 
                <mat-error>
                    <span *ngIf="form.get('category').touched && form.get('category').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>

            <mat-form-field class="demo-full-width">    
                <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="description"></textarea> 
                <mat-error>
                    <span *ngIf="form.get('description').touched && form.get('description').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>  
            
            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Status" formControlName="status"> 
                <mat-error>
                    <span *ngIf="form.get('status').touched && form.get('status').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>

            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Picture Url" formControlName="pictureUrl"> 
                <mat-error>
                    <span *ngIf="form.get('pictureUrl').touched && form.get('pictureUrl').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>

            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Price Per PQ" formControlName="pricePerPq"> 
                <mat-error>
                    <span *ngIf="form.get('pricePerPq').touched && form.get('pricePerPq').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>

            <mat-form-field class="demo-full-width">    
                <input matInput [matDatepicker]="picker" placeholder="Delivery Date" formControlName="deliveryDate">    
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                <mat-datepicker touchUi="true" #picker></mat-datepicker>    
                <mat-error>
                    <span *ngIf="form.get('deliveryDate').touched && form.get('deliveryDate').hasError('required')">Required Field</span>
                </mat-error>    

            </mat-form-field>    
        
       
            <div class="content-center">    
                <button type="button" *ngIf="orderId!=null" mat-raised-button color="primary" [disabled]="form.invalid" (click)="edit()">Edit</button> 
                <button *ngIf="showCloseBtn" type="button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="close()">Close</button>
                <button type="button" mat-raised-button color="primary" (click)="back()">Back</button>  
            </div>    
        </form>    
    </mat-card-content>    

    <div *ngIf="(loading$| async)">
        <mat-spinner></mat-spinner>
    </div>   
</mat-card>   

