
<div>
<div align="center"><h1 appHighlight highlightColor="yellow">Catalog</h1></div>
<table *ngIf="!(loading$ | async)" mat-table [dataSource]="(dataSource$ | async)" class="mat-elevation-z8" align="center">
    <!-- Position Column -->
    <ng-container matColumnDef="nrIntern">
      <th mat-header-cell *matHeaderCellDef> Number </th>
      <td mat-cell *matCellDef="let element"> {{element.nrIntern}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title | maxSymbols: 25}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="pricePerPq">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.pricePerPq}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category | maxSymbols: 25}} </td>
    </ng-container>

    <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <a routerLink="edit/{{element._id}}" >
              <mat-icon class="icon">edit</mat-icon>
            </a>
            <a [routerLink]="[]" (click)="deleteRecord(element._id)">
                <mat-icon class="icon">delete</mat-icon>
            </a>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <div *ngIf="!(loading$ | async)" class="newButton">                
      <button type="button" mat-raised-button color="primary" (click)="newRecord()">New</button>  
  </div>
</div>

  <div class="spinner" align="center" *ngIf="(loading$ | async)" >
      <mat-spinner></mat-spinner>
  </div>  
  
  