<mat-nav-list>
    <a mat-list-item routerLink="/home">
      <mat-icon class="icon">home</mat-icon>
      <span class="label">Home</span>
    </a>
    <a *ngIf="true" mat-list-item routerLink="/catalog">
      <mat-icon class="icon">local_grocery_store</mat-icon>
      <span class="label">Catalog</span>
    </a>
    <a *ngIf="(isSuperAdmin$ | async)" mat-list-item routerLink="/order">
        <mat-icon class="icon">local_grocery_store</mat-icon>
        <span class="label">Order</span>
    </a>
    <a *ngIf="(isSuperAdmin$ | async)" mat-list-item type="button" routerLink="/user">
        <mat-icon class="icon">accessibility_new</mat-icon>
        <span class="label">User</span>
    </a>
    <a *ngIf="!(isLogged$ | async)" mat-list-item type="button" routerLink="/user/register">
      <mat-icon class="icon">add_circle_outline</mat-icon>
      <span class="label">Register</span>
    </a>
    <a *ngIf="!(isLogged$ | async)" mat-list-item type="button" routerLink="/user/login">
      <mat-icon class="icon">input</mat-icon>
      <span  class="label">Login</span>
    </a>
    <a *ngIf="(isLogged$ | async)" mat-list-item type="button" [routerLink]="[]" (click)="logOut()">
        <mat-icon class="icon">backspace</mat-icon>
        <span class="label">Log Out</span>
    </a>
  </mat-nav-list>