<mat-card class=".mat-card">    
    <!-- Title of an Card -->    
    <mat-card-title appHighlight highlightColor="yellow">    
        Order  
    </mat-card-title>    
    
    <mat-card-content *ngIf="!(loading$ | async)">    
        <form [formGroup]="form">    
            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Number" formControlName="nr">   
                <mat-error>
                    <span *ngIf="form.get('nr').touched && form.get('nr').hasError('required')">Required Field</span>
                    <span *ngIf="form.get('nr').touched && form.get('nr').hasError('minlength')">Min length 6 symbols</span>
                </mat-error> 
            </mat-form-field>    

            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Title" formControlName="title"> 
                <mat-error>
                    <span *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required Field</span>
                    <span *ngIf="form.get('title').touched && form.get('title').hasError('minlength')">Min length 6 symbols</span>
                </mat-error>    
            </mat-form-field>
            
            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Picture" formControlName="pictureUrl"> 
                <mat-error>
                    <span *ngIf="form.get('pictureUrl').touched && form.get('pictureUrl').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>

            <mat-form-field class="demo-full-width">    
                <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="description"></textarea> 
                <mat-error>
                    <span *ngIf="form.get('description').touched && form.get('description').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>  
            <mat-form-field class="demo-full-width">    
                <textarea matInput placeholder="Price Per PQ" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="pricePerPq"></textarea> 
                <mat-error>
                    <span *ngIf="form.get('pricePerPq').touched && form.get('pricePerPq').hasError('required')">Required Field</span>
                </mat-error>    
            </mat-form-field>   
        
            <mat-form-field class="demo-full-width">    
                <input matInput placeholder="Category" formControlName="category">    
                <mat-error>
                    <span *ngIf="form.get('category').touched && form.get('category').hasError('required')">Required Field</span>
                </mat-error>    

            </mat-form-field>    
        
       
            <div class="content-center">    
                <button type="button" *ngIf="catalogId!=null" mat-raised-button color="primary" [disabled]="form.invalid" (click)="edit()">Edit</button> 
                <button type="button" *ngIf="catalogId == null" mat-raised-button color="primary" [disabled]="form.invalid" (click)="create()">Create</button> 

                <button type="button" mat-raised-button color="primary" (click)="back()">Back</button>  
            </div>    
        </form>    
    </mat-card-content>    

    <div *ngIf="(loading$ | async)">
        <mat-spinner></mat-spinner>
    </div>   
</mat-card>   

